<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>U BUY</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>127.0.0.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Application want to use your Camera!</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Wen want to access your face ID</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) Sử dụng vị trí của bạn để tìm chi nhánh xung quanh</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) Sử dụng vị trí của bạn để tìm chi nhánh xung quanh</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) muốn sử dụng thư viện ảnh của bạn</string>
	<key>UIAppFonts</key>
	<array>
		<string>MYRIADPRO-SEMIEXTIT.OTF</string>
		<string>MYRIADPRO-SEMIEXT.OTF</string>
		<string>MYRIADPRO-SEMICNIT.OTF</string>
		<string>MYRIADPRO-SEMICN.OTF</string>
		<string>MYRIADPRO-SEMIBOLDSEMIEXTIT.OTF</string>
		<string>MYRIADPRO-SEMIBOLDSEMIEXT.OTF</string>
		<string>MYRIADPRO-SEMIBOLDSEMICNIT.OTF</string>
		<string>MYRIADPRO-SEMIBOLDSEMICN.OTF</string>
		<string>MYRIADPRO-SEMIBOLDIT.OTF</string>
		<string>MYRIADPRO-SEMIBOLDCONDIT.OTF</string>
		<string>MYRIADPRO-SEMIBOLDCOND.OTF</string>
		<string>MYRIADPRO-SEMIBOLD.OTF</string>
		<string>MYRIADPRO-REGULAR.OTF</string>
		<string>MYRIADPRO-LIGHTSEMIEXTIT.OTF</string>
		<string>MYRIADPRO-LIGHTSEMIEXT.OTF</string>
		<string>MYRIADPRO-LIGHTSEMICNIT.OTF</string>
		<string>MYRIADPRO-LIGHTSEMICN.OTF</string>
		<string>MYRIADPRO-LIGHTIT.OTF</string>
		<string>MYRIADPRO-LIGHTCONDIT.OTF</string>
		<string>MYRIADPRO-LIGHTCOND.OTF</string>
		<string>MYRIADPRO-LIGHT.OTF</string>
		<string>MYRIADPRO-IT.OTF</string>
		<string>MYRIADPRO-CONDIT.OTF</string>
		<string>MYRIADPRO-COND.OTF</string>
		<string>MYRIADPRO-BOLDSEMIEXTIT.OTF</string>
		<string>MYRIADPRO-BOLDSEMIEXT.OTF</string>
		<string>MYRIADPRO-BOLDSEMICNIT.OTF</string>
		<string>MYRIADPRO-BOLDSEMICN.OTF</string>
		<string>MYRIADPRO-BOLDIT.OTF</string>
		<string>MYRIADPRO-BOLDCONDIT.OTF</string>
		<string>MYRIADPRO-BOLDCOND.OTF</string>
		<string>MYRIADPRO-BOLD.OTF</string>
		<string>MYRIADPRO-BLACKSEMIEXTIT.OTF</string>
		<string>MYRIADPRO-BLACKSEMIEXT.OTF</string>
		<string>MYRIADPRO-BLACKSEMICNIT.OTF</string>
		<string>MYRIADPRO-BLACKSEMICN.OTF</string>
		<string>MYRIADPRO-BLACKIT.OTF</string>
		<string>MYRIADPRO-BLACKCONDIT.OTF</string>
		<string>MYRIADPRO-BLACKCOND.OTF</string>
		<string>MYRIADPRO-BLACK.OTF</string>
		<string>fa-solid-900.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
